/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes left-right {
  from {
    translate: calc(-100% - 8px) -50%;
  }

  to {
    translate: calc(-100% - 4px) -50%;
  }
}

@keyframes change-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes change-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

.page {
  min-inline-size: 375px;
  max-inline-size: 704px;
  inline-size: var(--header-inline-size);
  min-block-size: 100dvb;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image:
    var(--background-vertical), var(--background-horizontal),
    var(--background-linear);
  font-family: var(--Inter-Variable-font, sans-serif);
  font-variation-settings: "wght" var(--font-variation-weight-text);
  font-size: var(--font-size-text);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-block-size: var(--header-block-size);
  margin-top: 98px;
  background-color: var(--background-logo);
  border: 2px solid #000;
  font-family: var(--PressStart2P-font, sans-serif);
  font-weight: var(--font-weight-text);
  gap: 20px;

  @media (width < 700px) {
    margin-top: 100px;
  }
}

.header__logo {
  font-size: var(--font-size-logo);
  text-align: center;
  color: var(--font-color-title);
  text-decoration-line: none;
}

.header__title {
  font-size: var(--font-size-title);
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color-title);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 96px 0 100px;
  gap: 50px;
  margin: 0 auto;
  max-inline-size: var(--main-inline-size);

  @media (width <= 375px) {
    padding-block-start: 100px;
  }
}

.card {
  border: 2px solid #000;
  background-color: var(--background-card);
  padding-block-end: 25px;
}

.card__title {
  font-family: inherit;
  font-variation-settings: "wght" var(--font-variation-weight-title);
  font-size: 18px;
  color: var(--font-color-title);
  padding: 5px 10px 2px;
  line-height: 120%;
}

.card__image-container {
  position: relative;
  block-size: var(--image-block-size);
}

.card__label {
  position: absolute;
  inset-inline-end: 24px;
  inset-block-start: 28px;
  font-family: var(--PressStart2P-font, sans-serif);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: hard-light;
  opacity: 0.5;

  @supports (
    (text-stroke: 1px var(--font-color-text-stroke)) or
      (-webkit-text-stroke: 1px var(--font-color-text-stroke))
  ) {
    -webkit-text-stroke: 1px var(--font-color-text-stroke);
    text-stroke: 1px var(--font-color-text-stroke);
    text-shadow: none;
  }
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-clean {
  filter: saturate(30%) brightness(150%) contrast(90%);
}

.card__image-doubt {
  filter: saturate(350%);
}

.card__image-race {
  filter: hue-rotate(30deg);
}

.card__image-near {
  filter: invert(0.7) contrast(150%);
}

.card__image-strategy {
  filter: sepia(90%);
}

.card__image-despair {
  filter: blur(0.3rem);
}

.card__image-now {
  filter: hue-rotate(90deg) blur(0.15rem) brightness(150%) saturate(140%)
    contrast(40%);
}

.card__description {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 25px 25px 25px;
  font-family: inherit;
  font-variation-settings: inherit;
  font-size: 18px;
  line-height: 117%;
  color: var(--font-color-text);
}

.card__control {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-inline-end: 25px;
  gap: 6px;
}

.card__icon-button {
  block-size: 34px;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.card__like-button {
  position: relative;
  block-size: 38px;
  inline-size: 130px;
  border: 2px solid #000;
  background-color: var(--background-button);
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px #000;
}

.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--PressStart2P-font);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 90%;
  color: var(--font-color-text-button);
  mix-blend-mode: difference;
}

.main__save-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-inline-size: 335px;
  min-inline-size: 306px;
  inline-size: var(--save-button-inline-size);
  block-size: 55px;
  border: 2px solid #000;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  padding: 0;

  @media (width <= 375px) {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    block-size: 84px;
    align-content: center;
  }
}

.main__save-button:focus {
  outline: none;
}

.main__save-button:focus-visible {
  box-shadow: 2px 2px #000;
}

.button__floppy {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  mix-blend-mode: difference;
  fill: #fff;

  @media (width <= 375px) {
    inline-size: 28px;
    block-size: 28px;
  }
}

.popup__save[open] {
  display: grid;
  grid-template-columns: 59px 1fr;
  grid-template-rows: 63px 38px;
  align-content: space-between;
  max-inline-size: 353px;
  min-inline-size: 341px;
  inline-size: var(--dialog-inline-size);
  block-size: 191px;
  padding: 30px;

  @media (width <= 375px) {
    padding: 30px 40px;
  }
}

.popup__floppy[open] {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.popup__save-text {
  font-family: var(--PressStart2P-font, sans-serif);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.popup__button {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  block-size: 38px;
  border: 2px solid #000;
  background-color: var(--background-button);
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.popup__button:focus {
  outline: none;
}

.popup__button:focus-visible {
  box-shadow: 2px 2px #000;
}

.card__like-button::before,
.main__save-button::before,
.popup__button::before {
  position: absolute;
  inset-block-start: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: top left;
}

.card__like-button:hover::before,
.main__save-button:hover::before,
.popup__button:hover::before {
  transform: scale(1);
}

.popup__save[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
