/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --Inter-Variable-font: "Inter-Variable";
  --PressStart2P-font: "PressStart2P";
  --font-weight-text: 400;
  --font-weight-title: 700;
  --font-variation-weight-text: 410;
  --font-variation-weight-title: 715;
  --font-color-text: #000;
  --font-color-title: #000;
  --font-color-text-stroke: #fff;
  --font-color-text-button: #fff;
  --font-size-logo: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --font-size-title: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --font-size-text: 18px;
  --background-vertical: repeating-linear-gradient(
    90deg,
    #d3d3d3 0px 2px,
    transparent 2px 4px
  );
  --background-horizontal: repeating-linear-gradient(
    0deg,
    #d3d3d3 2px 4px,
    transparent 4px 6px
  );
  --background-linear: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --background-logo: #fff;
  --background-card: #fff;
  --background-button: #fff;
  --contour-color: #000;
  --animation-fill-color: rgb(255 0 0);
  --header-inline-size: clamp(23.4375rem, 0rem + 100vw, 44rem);
  --header-block-size: clamp(20.4375rem, 17.2318rem + 13.6778vw, 23.25rem);
  --main-inline-size: clamp(23.4375rem, 0rem + 100vw, 43.75rem);
  --main-padding-top: clamp(6.25rem, 6.4663rem + -0.9231vw, 6.0625rem);
  --dialog-inline-size: clamp(21.3125rem, 20.4576rem + 3.6474vw, 22.0625rem);
  --image-block-size: clamp(23.5rem, 0.3475rem + 98.7842vw, 43.8125rem);
  --save-button-inline-size: clamp(
    19.125rem,
    17.0591rem + 8.8146vw,
    20.9375rem
  );
}
